Fleet Requirements and Aircraft Direction Unit: The Fleet Requirements and Air Direction Unit (FRADU) was a unit of the Royal Navy's Fleet Air Arm operated by the contractor Serco Defence and Aerospace.  It was established in 1972.  It was most recently equipped with 13 BAE Systems Hawk T1 advanced jet trainer aircraft on lease to the Royal Navy from the Royal Air Force, based at RNAS Culdrose in Cornwall.  Two of these aircraft were permanently detached to Naval Flying Standards Flight (fixed wing) at RNAS Yeovilton where they are flown by RN pilots, but maintained by Serco engineers.