Visa requirements for Italian citizens: Visa requirements for Italian citizens are administrative entry restrictions by the authorities of other states placed on citizens of Italy.  As of 1 January 2017, Italian citizens had visa-free or visa on arrival access to 174 countries and territories, ranking the Italian passport 3rd in terms of travel freedom (tied with American, Danish, Finnish and Spanish passports) according to the Henley visa restrictions index.  Additionally, the World Tourism Organization also published a report on 15 January 2016 ranking the Italian passport 1st in the world (tied with Denmark, Finland, Germany, Luxembourg, Singapore and the United Kingdom) in terms of travel freedom, with the mobility index of 160 (out of 215 with no visa weighted by 1, visa on arrival weighted by 0.7, eVisa by 0.5 and traditional visa weighted by 0).